.res-c {
  background: #fff;
  padding: 50px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;

}

.tabl {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.res-th {
  padding: 10px 16px;
  border: 1px solid #d4cbcb;
  text-align: center;
}

.res-td {
  height: 30px;
  width: 60px;
  border: 1px solid #d4cbcb;

}

.res-td:focus-within {
  border: 2px solid #3f51b5;
}

.res-in-td {
  height: 40px;
  width: 100%;
  border: none;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}


.p-c {
  display: grid;
  grid-template-columns: max-content max-content auto max-content max-content;
  align-items: center;
  grid-gap: 20px;
}

.m-c {
  height: 100%;
  display: grid;
  grid-template-rows: 50px auto 50px;
  padding: 10px;
  box-sizing: border-box;
}

.header {
  border-bottom: 1px solid #0c0c0c29;
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
}

.main-form-c {}

.footer {
  border-top: 1px solid #0c0c0c29;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.input-con {
  display: grid;
  grid-template-rows: max-content max-content;
  margin: 20px 0px;
  font-size: 16px;
}

.input-b-c {
  padding: 7px;
  font-size: 16px;
  margin-top: 10px;
}

.tth {
  background: #607d8b4f;
}

.log-c{
  display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
