
.main{
  background: #ffffffa1;
  margin: auto;
  margin: 30px auto auto auto;
  width: 1000px;
  border-radius: 13px 13px 13px 13px;
  min-height: 300px;
}
.header-title{
  font-family: 'Black Ops One', cursive;
    font-size: 60px;
    height: 70px;
    color: #13646b;
}
.nav-bar{
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px;
  background: #fff;
  height: 50px;
}
