
.main{
  background: #ffffffe0;
  margin: auto;
  margin: 30px auto auto auto;
  width: 900px;
  border-radius: 13px 13px 13px 13px;
  min-height: 300px;
  height: 88%;
}
.header-title{
  font-family: 'Black Ops One', cursive;
    font-size: 40px;
    height: 70px;
    color: #e57841;
}
.nav-bar{
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px;
  background: #39a3ad;
  height: 50px;
}

::ng-deep .mat-tab-label-active{
  font-size: 18px;
  color: var(--color-primary);
}