<div class="flex justify-c align-c width-100 height-100">
<div class="main">
<div class="header-title flex align-c justify-c">Kerala <span style="color: #373242;"> BIG</span></div>
<div class="nav-bar flex align-c pad-5">
  <button mat-button color="primary" routerLink="/main/home" class="mar-r-10">Home</button>
  <button mat-button color="primary" routerLink="/main/result" class="mar-r-10">Result</button>
  <button mat-button color="primary" routerLink="/main/download" class="mar-r-10">Download</button>
  <button mat-button color="primary" routerLink="/main/contact-us" class="mar-r-10">Contact Us</button>

</div>


<router-outlet></router-outlet>

</div>
</div>