<div class="pad-20" style="min-height: 200px;background-color: #ffffffe0;">
    <form [formGroup]="campaignTwo" novalidate>
  <div class="flex align-c justify-c">
    <div>
      <div class="font-20 pad-tb-20 flex justify-c" style="color: var(--color-primary);">Download Results</div>
      <div class="flex ">
        <mat-form-field class="width-100" appearance="fill">
          <mat-label>Date Range</mat-label>
          <mat-date-range-input [rangePicker]="campaignOnePicker" [comparisonStart]="campaignTwo.value.start"
            [comparisonEnd]="campaignTwo.value.end">
            <input matStartDate placeholder="Start date" formControlName="start" (focus)="campaignOnePicker.open()">
            <input matEndDate placeholder="End date" formControlName="end" (focus)="campaignOnePicker.open()">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
        </mat-form-field>
        <div style="grid-template-columns: 100px 100px;margin: auto auto 24px 10px;" class="grid grid-gap-10">
          <button mat-raised-button color="primary" (click)="submit()">Submit</button>
          <button mat-raised-button *ngIf="!!data.length" [disabled]="!data.length">Download</button>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
