.tab-list {
  border-bottom: 1px solid #d0caca;
}

.tab-item {
  padding: 10px 80px;
  width: max-content;
  /* border-bottom: 3px solid var(--color-primary); */
}

.active-tab {
  /* border-bottom: 3px solid var(--color-primary);
  color: var(--color-primary); */
}

.g-c-a-max {
  grid-template-columns: 25% 25% 25% 25%;
}

.g-c-5-10-50 {
  grid-template-columns: calc(50% - 10px) 10px calc(50% - 10px);
}

.g-c-max-max-max {
  grid-template-columns: max-content max-content max-content;
}

.he {
  margin: 12px 0px;
  background: #dcdcdc;
  background-image: linear-gradient(to bottom right, #ffffff, #c7c7c7);
}

.d1 {
  box-sizing: border-box;
  background: #f4ae36;
  height: 77px;
  line-height: 77px;
  width: 54px;
  color: #cc1413;
  background: linear-gradient(to bottom right, #ffffff, #525252);
}

.d2 {
  padding: 10px;
  box-sizing: border-box;
  background: #762d0fe8;
  height: 75px;
  line-height: 72px;
  width: 54px;
  align-self: center;
  margin-left: 25px;
  color: #cc1212;
  background-image: linear-gradient(to bottom right, #ffffff, #525252);
}

.d3 {
  padding: 10px;
  box-sizing: border-box;
  background: #762d0fe8;
  height: 84px;
  line-height: 72px;
  width: 62px;
  margin-left: 27px;
  color: #cc1212;
  background-image: linear-gradient(to bottom right, #ffffff, #525252);
  ;
}

::ng-deep .mat-tab-label {
  width: 25%;
}


