.w-ball{
    height: 145px;
    width: 145px;
    border-radius: 50%;
    background: #ffff;
    background-image: linear-gradient(#eaeaea, #656565);

}
.active-ball{
    background-image: linear-gradient(#e58c0b, #fccd52);
    color: #fff;
}
.img-c{
    margin: 135px 54px 71px 30px;
    box-sizing: border-box;
    height: 600px;
}
.win-no{
    top: 433px;
    left: 202px;
}