<div class="tab-list grid g-c-a-max">
  <div class="tab-item f-w-500 font-15  {{selected==item?'active-tab':''}}  align-c pointer"
    (click)="selected=item;setValue(item['d_name'])" *ngFor="let item of timeList" matRipple>{{item?.d_name}}</div>
</div>


<div style="background-image: url(../../../assets/img/p1.png);background-size: cover;">
  <div>
    <div class="box-s1 pad-10 f-w-500 font-20 flex align-c justify-c he">GOLD {{day}} {{selected['d_name']}}</div>
    <div class="flex justify-space-between box-s1" style="width: 90%;padding: 20px;background: #ffffffa3;/* align-self: center; */margin-left: 23px;">
      <div style="margin-left: 83px;">
        <div class="font-20 pad-tb-10">Draw No</div>
        <div class="font-35 f-w-500" style="line-height: 40px;    color: #cc1413;">{{data?.draw}}</div>
      </div>
      <div style="margin-right: 20px;">
        <div class="font-20 pad-tb-10">Draw Date</div>
        <div class="font-35 f-w-500" style="line-height: 40px;    color: #cc1413;">{{todayDate}}</div>
      </div>
    </div>

    <div class="pos-r flex justify-c">
      <img src="../../../assets/img/slot.png" width='450px'>
      <div class="pos-a flex" style="top: 200px;left: 342px;font-size: 58px;font-family: 'Alfa Slab One', cursive;">
        <div class="pad-10 flex align-c justify-c d1">{{a}}</div>
        <div class="pad-10 flex align-c justify-c d2">{{b}}</div>
        <div class="pad-10 flex align-c justify-c d2">{{c}}</div>
      </div>
    </div>
  </div>


</div>
