<div class="tab-list grid g-c-a-max">
  <div class="tab-item f-w-500 font-15  {{selected==item?'active-tab':''}}  align-c pointer"
    (click)="selected=item;setValue(item['d_name'])" *ngFor="let item of timeList" matRipple>{{item?.d_name}}</div>
</div>



<div>
  <div class="box-s1 pad-10 f-w-500 font-20 flex align-c justify-c he" >GOLD {{day}} {{selected['d_name']}}</div>
<div class="pos-r flex justify-c">
<img src="../../../assets/img/slot.png">
<div class="pos-a flex" style="top: 223px;left: 329px;font-size: 58px;font-family: 'Alfa Slab One', cursive;">
  <div class="pad-10 flex align-c justify-c d1">{{a}}</div>
  <div class="pad-10 flex align-c justify-c d2">{{b}}</div>
  <div class="pad-10 flex align-c justify-c d2">{{c}}</div>
</div>
</div>
</div>

